@using EcommerceDemo.Model;
@using EcommerceDemo.Web.Common;
@model EcommerceDemo.Model.ProductViewModel
<p>
    <b>Create Product</b>
</p>
@{
    Product product = new Product();
    var productCategories = Model.products.Select(x => new { x.CategoryName, x.ProdCatId }).Distinct();
    Dictionary<int, string> MasterattributeNameList = new Dictionary<int, string>();
    foreach (var item in Model.products.Where(x => x.ProdCatId == 1).ToList())
    {
        foreach (var att in item.attributeNameList)
        {
            MasterattributeNameList.TryAdd(att.Key, att.Value);
        }
    }
}
<form method="post" id="ProductCreate">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.ProdCatId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <select id="ProductCatCreate">
                    @foreach (var item in productCategories)
                    {
                        <option value="@item.ProdCatId">@item.CategoryName</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.ProdCatId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProdName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ProdName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProdName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProdDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ProdDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ProdDescription, "", new { @class = "text-danger" })
            </div>
        </div>
        @foreach (var item in MasterDataHelper.GetAttributeNameList())
        {
            <div class="form-group">
                @Html.Label("item", item.Name, htmlAttributes: new { @class = item.ParentId == 1 ? "control-label col-md-2 attrLabel show" : "control-label col-md-2 attrLabel hide", @ProdCatId = item.ParentId })
                <div class="col-md-4">
                    @Html.TextBox(item.Value.ToString(), "", new { @class = item.ParentId == 1 ? "form-control attrName show" : "form-control attrName hide", @id = "attrName_" + item.Value + "", @ProdCatId = item.ParentId })
                </div>
            </div>
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Save" class="btn btn-success" id="productCreatebutton" />
            </div>
        </div>
    </div>

</form>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
