@using System.Collections.Generic;
@using EcommerceDemo.Model;
@using EcommerceDemo.Web.Common;
@inject IJsonHelper Json;
@model ProductViewModel;
@{
    ViewData["Title"] = "Home Page";
}

@{
    List<Product> products = Model.products.Where(x => x.ProdCatId == 1).ToList();
    var productCategories = MasterDataHelper.GetProductCategory();
    Dictionary<int, string> MasterattributeNameList = new Dictionary<int, string>();
    foreach (var item in products)
    {
        foreach (var att in item.attributeNameList)
        {
            MasterattributeNameList.TryAdd(att.Key, att.Value);
        }
    }
    int counter = 0;
}

@*<p id="Createproduct">
        <b>Create New</b>
    </p>*@
@Html.HiddenFor(Model => Model.pageSize)
<div id="productListArea">
    <div class="unselected-field" style="display: inline-block;">
        <label>
            Product Category :
            @Html.DropDownList("ProdCatId", new SelectList(productCategories, "Value", "Name"), new { @id = "ProdCatId" })
        </label>
    </div>


    <div class="tableFixHead" id="list">
        <table class="table">
            <thead id="ProductheaderList">
                <tr>
                    <th>Product Name</th>
                    <th>Product Description</th>
                    @foreach (var item in MasterattributeNameList)
                    {
                        <th id="@item.Key">
                            @item.Value
                        </th>
                    }
                    <th>
                        Operation
                    </th>
                </tr>
            </thead>
            <tbody id="ProductList">
                @foreach (var item in products.Skip((Model.CurrentPage - 1) * Model.pageSize).Take(Model.pageSize).ToList())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProdName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProdDescription)
                        </td>
                        @if (item.attributeValueList.Any())
                        {
                            @foreach (var atrvalue in item.attributeValueList)
                            {
                                counter++;
                                <td id="@atrvalue.Key">
                                    @Html.DisplayFor(modelItem => atrvalue.Value)
                                </td>
                            }
                        }
                        else
                        {
                            for (int i = 0; i < counter; i++)
                            {
                                <td></td>
                            }
                        }

                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                            <a href="javascript:void(0);" data-ProductId="@item.ProductId" id="Deletemodel">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @for (int i = 1; i <= products.Count / 2; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "") ">
                    <a class="page-link" href="#" id="pageChange" data-pagesize="@Model.pageSize">@i</a>
                </li>
                if (i == Model.CurrentPage)
                {
                    @Html.Hidden("i",i,new { id="currentpage"})
                }

            }

        </ul>
    </nav>
</div>

<div id="productCreateArea">
    <partial name="~/Views/Product/_Create.cshtml" for="@Model">
</div>

<script type="text/javascript">
    var ProudctList = @Html.Raw(Json.Serialize(Model.products));
    var MasterAttrList = @Html.Raw(Json.Serialize(MasterDataHelper.GetAttributeNameList()))
    var OldMasterAttrList = @Html.Raw(Json.Serialize(MasterattributeNameList))
</script>
